<% form_for(@campus) do |f| %>
  <%= f.error_messages %>

  <p>
    Name<br />
    <%= f.text_field :name %>
  </p>

  <p>
    City<br />
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', campus_path %>




