<table border="0" cellspacing="0" cellpadding="5" id="crud" class="blank">
	<tr>
		<td class="title" style="vertical-align:top;">ID</td>
		<td><%= @user.id %></span></td>
		<td class="help"></td>
	</tr>
	<tr>
		<td class="title" style="vertical-align:top;">Lastname</td>
		<td><%= @user.last_name %></span></td>
		<td class="help"></td>
	</tr>
	<tr>
		<td class="title" style="vertical-align:top;">Firstname</td>
		<td><%= @user.first_name %><span class="help"></span></td>
		<td class="help"></td>
	</tr>
	<tr>
		<td class="title" style="vertical-align:top;">Email Address</td>
		<td><%= @user.email %><span class="help"></span>
		</td><td class="help"></td>
	</tr>
	<tr>
		<td class="title" style="vertical-align:top;">Avatar</td>
			<td><% if @user.avatar.url == '/avatars/original/missing.png' %>
				<img/>
			<% else %>
				<%= image_tag @user.avatar.url(:thumb) %>
			<% end %><span class="help"></span></td>
			<td class="help"></td>
	</tr>
	<% if @user.role = "student" || @user.role = "teacher" %>
	<tr>
		<td class="title">Campus</td>
		<td><%= @user.campus.name %></td>
		<td class="help"></td>
	</tr>
	<% elsif  @user.role = "student" %>
	<tr>
		<td class="title">Cursus</td>
		<td><%= @user.classe.study_period.cursus.name %><span class="help"></span></td>
		<td class="help"></td>
	</tr>
	<tr>
		<td class="title">Class</td>
		<td><%= @user.classe.name %></td>
		<td class="help"></td>
	</tr>
	<% end %>

</table>
