<table border="0" cellspacing="0" cellpadding="5" id="crud">
	
	<tr>
		<%= render :partial => 'tab' %>
	</tr>
	
	<tr>
		<td colspan="3"><span style=" margin-top:-3px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td>
	</tr>
	
	<tr>
		<td class="title" style="vertical-align:top;">Cursus</td>
		<td>
			<% form_tag	'/cursus' do %>
				<%= text_field_tag 'cursus[name]' %>
				<%= submit_tag 'Add Cursus' %>
			<% end %>
		</td>
		<td class="help"></td>
	</tr>
	
	<tr>
		<td class="title" style="vertical-align:top;">Study Period</td>
		<td>
			<% form_tag	'/study_period' do %>
				<%= select :study_period, :cursus_id, Cursus.all.collect{|p| [p.name, p.id]}%>
				<%= text_field_tag 'study_period[name]' %>
				<%= submit_tag 'Add Study Period' %>
			<% end %>
		</td>
		<td class="help"></td>
	</tr>
	
		<tr>
			<td class="title" style="vertical-align:top;">Course</td>
			<td>
				<%= select :study_period, 
									 :cursus_id, 
									Cursus.all.collect{|p| [p.name, p.id]}, {}, 
									{:id => 'add_course_cursus_id'}	%>
				<select id="add_course_study_period_id" disabled=disabled>
					<option disabled>Select a Study Period</option>
					<option>B1</option>
					<option>B2</option>
					<option>B3</option>
					<option>M1</option>
					<option>M2</option>
				</select>
			<input type="text" name="some_name" value="" id="some_name"><input type="submit" name="some_name" value="Add Course" id="some_name">
			</td><td class="help"></td>
		</tr>
		<tr><td colspan="3"><div style="border : solid 2px #999999 solid; background : rgba(255,255,255,0.5); color : #333333; width : 100%; height : 450px;overflow : auto; ">
			<table id="tree">
				
				<% i = 1 %>
				<% @cursus.each do |cursus| %>
					<tr id="node-<%= i %>">
				    <td colspan="2"><%= cursus.name %></td>
						<td class="actions"><a href="">Delete</a></td>
				  </tr>
				
					<% j = 1 %>
					<% cursus.study_periods.each do |sp| %>
						<tr id="node-<%= i %>-<%= j %>" class="child-of-node-<%= i %>">
					    	<td colspan="2"><%= sp.name %></td>
								<td class="actions"><a href="">Delete</a></td>
					  </tr>
					
						<% k = 1 %>
						<% sp.courses.each do |c| %>
							<tr id="node-<%= i %>-<%= j %>-<%= k %>" class="child-of-node-<%= i %>-<%= j %>">
						    	<td colspan="2"><%= c.name %></td>
									<td class="actions">
										<a href="javascript:popUp('popup-manage-cursus-modalities.html')">
											Manage Modalities
										</a> or 
										<a href="">Delete</a>
									</td>
						  </tr>
							<% k = k + 1 %>
						<% end %>	
								
					<% j = j + 1 %>
					<% end %>
					
				<% i = i + 1 %>
				<% end %>
				</tr>
			</table>
		</div>
		</td>
	</tr>
</table>
