<table border="0" cellspacing="0" cellpadding="5" id="crud">
	<tr>
		<%= render :partial => 'tab' %>
	</tr>
	<tr><td colspan="3"><span style=" margin-top:-3px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr>
		<tr><td class="title" style="vertical-align:top;">New user</td><td>
			<% form_tag "users/new" do %>
			<select name="role">
				<option value="0" selected=selected disabled>Select Role</option>
				<option value="admin" >Administrator</option>
				<option value="cm" >Campus Manager</option>
				<option value="teacher" >Teacher</option>
				<option value="student" >Student</option>
			</select>
			<input type="button" onClick="javascript: popUpUser('http://www.facebook.com');" id="addUserButton" value="Add">
			</td><td class="help"></td>
			<% end %>
		</tr>
		<tr><td class="title" style="vertical-align:top;">Display only</td><td>
			<select>
				<option value="San Francisco, CA" selected=selected disabled>Select Role</option>
				<option value="San Francisco, CA" >Administrators</option>
				<option value="San Francisco, CA" >Campus Managers</option>
				<option value="San Francisco, CA" >Teachers</option>
				<option value="San Francisco, CA" >Students</option>
			</select><input type="submit" name="some_name" value="Apply" id="some_name">
			</td><td class="help"></td>
		</tr>
		<tr><td class="title" style="vertical-align:top;">ID</td><td>
			<input type="text" name="some_name" value="" id="some_name"><input type="submit" name="some_name" value="View Profile" id="some_name">
			</td><td class="help"></td>
		</tr>
		<tr>
			<td colspan="3">
				<div style="border : solid 1px #555555 solid; background : rgba(255,255,255,0.5); color : #333333; width : 100%; height : 450px;overflow : auto; ">
			<table id="userlist" cellspacing="0" cellpadding="0">
				
				<% @users.each do |user| %>
					<tr>
						<td class="number"><%= user.id %></td>
						<td class="lastname"><%= user.last_name %></td>
						<td class="firstname"><%= user.first_name %></td>
						<td><%= user.role %></td>
						<td class="actions">
							<%= link_to 'More Details', "javascript:popUpUser('/users/edit/#{user.id}')" %> or
							<%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %>
						</td>
					</tr>
				<% end %>
			</table>
		</div></td></tr>
</table>
