<table border="0" cellspacing="0" cellpadding="5" id="crud">
	<tr>
		<%= render :partial => 'tab' %>
	</tr>
	<tr><td colspan="3"><span style=" margin-top:-3px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr>
		<tr><td class="title" style="vertical-align:top;">New user</td><td>
			<select id="new_user_role">
				<option value="0" selected=selected disabled>Select Role</option>
				<option value="admin" >Administrator</option>
				<option value="cm" >Campus Manager</option>
				<option value="teacher" >Teacher</option>
				<option value="student" >Student</option>
			</select>
			<input type="button" id="new_user_submit" value="Add" disabled>
			</td><td class="help"></td>
		</tr>
		<tr>
			<td class="title" style="vertical-align:top;">Display only</td>
			<td>
				<% form_tag "/manage/users", :method => :get do %>
				<select name="filter">
					<option value="0" disabled>Select Role</option>
					<option value="admin" <%= "selected=selected" if params[:filter] == 'admin' %> >Administrator</option>
					<option value="cm" <%= "selected=selected" if params[:filter] == 'cm' %> >Campus Manager</option>
					<option value="teacher" <%= "selected=selected" if params[:filter] == 'teacher' %> >Teacher</option>
					<option value="student" <%= "selected=selected" if params[:filter] == 'student' %> >Student</option>
					<%= submit_tag "Apply" %>
				</select>
				<% end %>
			</td>
			<td class="help"></td>
		</tr>
		<tr>
			<td class="title" style="vertical-align:top;">ID</td>
			<td>
				<%= select :view_profile, :id, User.all.collect{|p| [p.id.to_s, p.id]} %>
				<input type="submit" name="some_name" value="View Profile" id="view_profile">
			</td><td class="help"></td>
		</tr>
		<tr>
			<td colspan="3">
				<div style="border : solid 1px #555555 solid; background : rgba(255,255,255,0.5); color : #333333; width : 100%; height : 450px;overflow : auto; ">
			<table id="userlist" cellspacing="0" cellpadding="0">
				
				<% @users.each do |user| %>
					<tr>
						<td class="number"><%= user.id %></td>
						<td class="lastname"><%= user.last_name %></td>
						<td class="firstname"><%= user.first_name %></td>
						<td><%= user.role %></td>
						<td class="actions">
							<%= link_to 'More Details', "javascript:popUpUser('/users/edit/#{user.id}')" %> or
							<%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %>
						</td>
					</tr>
				<% end %>
			</table>
		</div></td></tr>
</table>
