<% form_for @event, :url => {:action => :nothing} do |f| %>

	<%=f.hidden_field :category %>
	<%=f.hidden_field :id %>

	<table border="0" cellspacing="0" cellpadding="5" id="crud" class="blank">
		<tr>
			<td class="title" style="vertical-align:top;">Title</td>
			<td>
				<%=f.text_field :title, :size => 20 %>
				<span class="help">The Title will be displayed in all the views of the calendar.</span>
			</td>
			<td class="help"></td>
		</tr>
		<tr>
			<td class="title" style="vertical-align:top;">Location</td>
			<td>
				<%=f.text_field :location, :size => 20 %>
				<span class="help">You can specify a location if you want to.</span>
			</td>
			<td class="help"></td>
		</tr>
		<tr>
			<td class="title" style="vertical-align:top;">Notes</td>
			<td>
				<%=f.text_area :description, :rows => 4, :cols => 40 %>
			</td>
			<td class="help"></td>
		</tr>
		<tr>
			<td class="title">When ?</td>
			<td colspan="2"><%=f.datetime_select :starttime, :disabled => "true" %></td>
		</tr>
		<tr>
			<td class="title"></td>
			<td colspan="2">
				<%= radio_button "event", "all_day", "false", :disabled => "true" %>
				<label for="lasts">Lasts</label> 
				<%= select_tag 'event[endtime]', @options, :disabled => "true"  %>
 				hour(s)
			</td>
		</tr>
		<tr>
			<td class="title"></td>
			<td colspan="2">
				<%= radio_button "event", "all_day", "true", :disabled => "true" %>
				<%= f.label :all_the_day %>
			</td>
		</tr>
	</table>

<% end %>
