<% form_for @event, :url => {:action => :create} do |f| %>

	<%=f.hidden_field :category, :value => 'class' %>
	<%=f.hidden_field :title, :value => "Class" %>

	<table border="0" cellspacing="0" cellpadding="5" id="crud">
		<tr>
			<%= render :partial => 'events/tab' %>
		</tr>
		
		<% if @current_user.role == "admin" %>	
			<tr><td colspan="3"><span style=" margin-top:-3px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr>	
			<tr>
				<td class="title">Campus</td><td>		
					<%= select :event, :campus_id, Campus.all.collect{|p| [p.name, p.id]}.insert(0,["Select a campus",0]), {:disabled => 0}%>
				</td><td class="help"></td>
			</tr>
		<% else %>	
			<%=f.hidden_field :campus_id, :value => @current_user.campus_id %>
		<% end %>
			
		<tr><td class="title">Cursus</td><td>
			<select id="event_cursus" disabled="disabled">
				<option value="San Francisco, CA" selected=selected disabled>Select a cursus</option>
			</select>
			</td><td class="help"></td>
		</tr>
		<tr><td class="title">Class</td><td>
			<select name="event[classe_id]" id="event_class" disabled="disabled">
				<option value="San Francisco, CA" selected=selected disabled>Select a class</option>
			</select>
			</td><td class="help"></td>
		</tr>	
		<tr><td colspan="3"><span style="padding-bottom:5px; margin-bottom:5px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr>
			
			
			<tr><td class="title">Subject</td><td>
				<select id="event_course" disabled="disabled">
					<option value="San Francisco, CA" selected=selected disabled>Select a subject</option>
					<option value="San Francisco, CA" >IT Law</option>
					<option value="San Francisco, CA" >Mathematics</option>
				</select>
				</td><td class="help"></td>
			</tr>

			<tr>
				<td class="title">Modality</td>
				<td><%= select :event, :moda_id, Modality.all.collect{|p| [p.name, p.id]}.insert(0,["Select a modality",0]), :html_options => {:disabled => "disabled"} %></td>
				<td class="help"></td>
			</tr>
			
			<tr>
				<td class="title"></td>
				<td colspan="2">
					<img src="/images/pb_g.png" width="2" height="10" alt="Pb G"><img id="bar_1" src="/images/pb_cv.png" width="85" height="10" alt="Pb Cv"><img id="bar_2" src="/images/pb_cb.png" width="15" height="10" alt="Pb Cb"><img src="/images/pb_d.png" width="2" height="10" alt="Pb D">
					<b style="color:green"><span id="hours_remaining">1</span> hours remaining</b> (Total: <span id="hours_total">80</span> hours)
				</td>
			</tr>
			
			<tr>
				<td class="title">When ?</td>
				<td colspan="2"><%=f.datetime_select :starttime %></td>
			</tr>
			<tr>
				<td class="title"></td>
				<td colspan="2">
					<%= radio_button "event", "all_day", "false" %>
					<label for="lasts">Lasts</label> 
					<%= select_tag 'event[endtime]', '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>'  %>
					hour(s)
				</td>
			</tr>
			
		<tr>	
		<tr><td colspan="3"><span style="padding-bottom:5px; margin-bottom:5px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr>
		<tr>
			<td class="title">Teacher</td><td colspan="2">
			<%= select :event, :professor_id, User.all.collect{|p| [p.first_name+" "+p.last_name, p.id]}, :html_options => {:disabled => "disabled"} %>
			<span class="help">Only available teachers are displayed.</span>
			</td>
		</tr>
		<tr>
			<td class="title">Room</td>
			<td colspan="2">
				<%= select :event, :room_id, Room.all.collect{|p| [p.name, p.id]}, :html_options => {:disabled => "disabled"} %>
			<span class="help">Only available room are displayed.</span>
			</td>
		</tr>
			
			<tr><td colspan="3"><span style="padding-bottom:5px; margin-bottom:5px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span></td></tr>
				
			<tr>
				<td class="title" style="vertical-align:top;">Notes</td>
				<td>
					<textarea name="event[description]" rows="4" cols="40"></textarea>
				</td>
				<td class="help"></td>
			</tr>
			
			<tr>
				<td colspan="3">
					<span style="padding-bottom:5px; margin-bottom:5px; border-bottom:1px dotted #999999; font-size:1px; display:block;">&#160;<span>
				</td>
		  </tr>
			<tr>
				<td class="title" style="vertical-align:top;"></td>
				<td>
					<input type="submit" name="Create Event" value="Create Event" id="create_event" disabled="disabled"> or <a href="index_loggued.html">Cancel</a>
				</td>
				<td class="help"></td>
			</tr>
	</table>
	
<% end %>