<div id="sidebar">
	<div id="ucard">
			<% if @current_user.avatar.url == '/avatars/original/missing.png' %>
				<img/>
			<% else %>
				<%= image_tag @current_user.avatar.url(:thumb) %>
			<% end %>
			<b><%= @current_user.first_name %> <%= @current_user.last_name %></b><br>
	
			<% if @current_user.role == 'admin' %>
				Administrator<br><br>
			<% elsif @current_user.role == 'cm' %>
				Campus Manager<br><br>
			<% elsif @current_user.role == 'student' %>
				Master of Science - IT<br>
				M1 @ San Francisco<br>
			<% end %>
	
			<%= link_to "Edit Profile", "javascript: popUpUser('/users/edit/#{@current_user.id}')" %>&#160;&#183;&#160;<%= link_to "Log out", logout_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
	</div>
	<div id="actions">
		<ul>
			<li>
				<% if @current_user.role == 'admin' || @current_user.role == 'cm' %>
					<%=link_to 'New Event', '/events/new/class' %>
				<% else %>
					<%=link_to 'New Event', '/events/new/personal' %>
				<% end %>
			</li>
					
			<% if @current_user.role == 'admin' %>
				<li><%=link_to 'Manage', '/manage/university' %></li>
			<% elsif @current_user.role == 'cm' %>
				<li><%=link_to 'Manage', '/manage/campus' %></li>
			<% end %>
		</ul>
	</div>

	<div id="selectCalendar">
		<ul>
			<li id="el_university">
				<div><input type="checkbox" name="university"checked="checked"  id="university"></div>
				<label for="university">University</label>
			</li>
			<% if @current_user.role == 'cm' || @current_user.role == 'professor' || @current_user.role == 'student' %>
				<li id="el_campus">
					<div><input type="checkbox" name="campus" checked="checked"  id="campus"></div>
					<label for="campus">Campus</label>
				</li>
			<% end %>
			<% if @current_user.role == 'professor' || @current_user.role == 'student' %>
			<li id="el_courses">
				<div><input type="checkbox" name="courses" checked="checked"  id="courses"></div>
				<label for="courses">My Courses</label>
			</li>
			<% end %>
			<li id="el_perso">
				<div><input type="checkbox" name="perso" checked="checked" id="perso"></div>
				<label for="perso">My Calendar</label>
			</li>
		</ul>
	</div>
</div>